.authenticate-navigation {
    /* width: 100%; */
    height: 10vh;
    /* background: blue; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0 150px;
    border-bottom: 2px solid #273B68;
}

.authenticate-navigation button {
    width: 15rem;
    font-weight: bold;
    /* font-size: 1rem; */
    background: white;
    border: 1px solid #273B68;
    color: #273B68;
    cursor: pointer;
}

[data-theme="dark"] {
    .authenticate-navigation button {
        background: var(--dark-theme-2);
    }
}

.authenticate-navigation .left {
    border-radius: 10px 0 0 0;
}

.authenticate-navigation .right {
    border-radius: 0 10px 0 0;
}

.authenticate-navigation .active button {
    background: #273B68;
    color: white;
}