
.pharmacy-navigation{
    /* background: blue; */
    width: 50%;
    margin: 2rem 0;
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    /* background: red; */
    margin-right: 150px;
}