.datails-container {
    display: flex;
    flex-direction: column;
}

.datails-container .item {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
}

.datails-container .item img {
    margin-right: 0.3rem;
}

.datails-container .item1 {
    color: #005450;
}