.side-drawer {
    /* background: blueviolet; */
    margin-right: 97px;
}

.side-drawer h3 {
    color: #1FCEBF;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 31px;;
}

[data-theme="dark"] {
    .MuiDrawer-paper {
        background: var(--dark-theme-1);
    }
}