.availability-search {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    margin: 0 180px;
}

@media (max-width: 410px) {
    .availability-search {
        min-height: 85rem;
    }
}

.availability-search > h2 {
    color: #273B68;
    padding: 1rem 0;
}

[data-theme="dark"] {
    .availability-search > h2 {
        color: white;
    }
}